@import "lib/mixins";
@import "~tailwindcss/base";
@import "partials/base";
@import "partials/animations";
@import "~tailwindcss/components";
@import "partials/components";
@import "~tailwindcss/utilities";
@import "partials/utilities";

body {
  background: green;
}

h1 {
  font-size: 1rem;
}

h2,
h3 {
  font-size: 2rem;
}