// Add any custom base CSS can go here

$img-path: '../../../../../../resources/img';
// Foundation

// =≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠
html {
  @apply antialiased;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  @apply text-ig-blue-500;

  @screen md {
    font-size: 18px;
  }
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

.ig-break {
  border-bottom: dashed 2px;
  @apply border-gray-300;

  @screen md {
    border-bottom: none;
  }
}