// Simple Accordian 
.accordian {
  cursor: pointer;

  &.active {

    +.accordian-pane {
      display: flex;
    }

    div.pointer {
      span {
        transform: rotate(180deg);
        top: -6px;
        position: relative;
      }

    }
  }

  div.pointer {
    span {
      display: inline-block;
      font-size: 2rem;
      transform: rotate(0deg);
    }

  }

  +.accordian-pane {
    display: none;
  }

}