// Simple Accordian 
.accordian {
  cursor: pointer;

  &.active {

    @apply bg-ig-li-blue-500;

    +.accordian-pane {
      display: flex;
    }

    .pointer {
      transform: rotate(180deg);
      position: relative;

    }
  }

  .pointer {
    display: inline-block;
    font-size: 2rem;
    transform: rotate(0deg);
  }

  +.accordian-pane {
    display: none;
  }

}