/*
Main desktop Navigaton Menu :
Uses two WP menus for learner and YD currently
*/

.navbar-main {
  @apply z-50;
  position: relative;

  >ul {
    padding: 20px 0 0 0;
  }

  li {
    margin-bottom: .2rem;
    list-style: none;
    transition: background-color 0.2s ease;

    &:hover,
    &:active {
      @apply bg-ig-blue-500;
      @apply text-white;

      >.sub-menu {
        @apply bg-ig-blue-500;
        // display: block;
        visibility: visible;
        opacity: 1;
        transition-delay: .2s;
      }
    }

    a {
      @apply px-3 py-3;
      box-sizing: border-box;
      display: inline-block;
      text-decoration: none;

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .sub-menu {
      @apply z-50;
      // display: none;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s;
      transition-duration: .3s;
      text-align: left;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      @apply bg-ig-blue-500;
      @apply text-white;

      li {
        position: relative;
        background: transparent;
        width: 40%;
        display: inline-block;
        text-align: left;
        padding: 0;
        margin: 0 1rem;
        border: none;

        // &:hover {
        //   @apply bg-ig-blue-600;
        // }

        &::after {
          content: '>';
          position: absolute;
          bottom: 8px;
          left: -10px;
          font-size: 16px;
          opacity: 1;
          transition: left .2s;
        }

        &:hover::after,
        &:focus::after {
          @apply text-ig-orange-500;
          left: -5px;
          transition: left .2s;
        }

        a {
          padding: 8px;

          &:hover {
            @apply text-ig-orange-500;
          }

        }
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}