// OBD checker - NOTE: Most css in iframe with Trakm8

/* purgecss start ignore */
/* NOT in styleguide */
iframe#obd {
  width: 770px;
  height: 330px;
  margin: auto;
}

@media only screen and (max-width: 480px) {

  iframe#obd {
    width: 100%;
    height: 500px;
  }
}

/* purgecss end ignore */